<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% if (user) { %>
        <h2><%= user.name %></h2><br>
        <p>
            Username: <%= user.username %><br>
            Email: <%= user.email %><br>
            Mobile: <%= user.mobile%><br>
            regNo: <%= user.regNo %><br>
            gender: <%= user.gender %><br>
        </p>
      <% } %>
</body>
</html>