<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico" />
    <title>Question <%= riddleId %></title>
    <style>
        #bigText {
            font-size: 30px !important;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar') %>
    <div id="mainContentContainer">
        <div id="mainContent">
            <div style="height:100%;width:100%;" id="questionPanel" class="nes-container is-rounded is-dark question">
                <div id="questionContainer" class="dontOverlap">
                    <span id="justQuestion">
                        <div id="qNo" style="font-size:40px; margin-bottom:10px;" class="nes-text is-warning">Question
                            <%= riddleId %></div>
                        <h2>
                            <%= riddles[0] %>
                        </h2>
                        <div style="display:none;" id="firstQuestion">
                            <h2>Choose your adventure:</h2>
                            <br>
                            <button
                                onclick="$('.specialQ').fadeOut();$('#gameQ').fadeIn();questionScrollBar.recalculate()"
                                class="nes-btn chooseBtn is-warning">Adverts</button>
                            <button
                                onclick="$('.specialQ').fadeOut();$('#artQ').fadeIn();questionScrollBar.recalculate();"
                                class="nes-btn chooseBtn is-primary">Disney Pixar</button>
                            <button
                                onclick="$('.specialQ').fadeOut();$('#crimeQ').fadeIn();questionScrollBar.recalculate();"
                                class="nes-btn chooseBtn is-error">Sci-fi</button>
                            <br><br>
                            <h3 style="display:none" class="specialQ" id="gameQ">
                                <%= riddles[0] %>
                            </h3>
                            <h3 style="display:none" class="specialQ" id="artQ">
                                <%= riddles[1] %>
                            </h3>
                            <h3 style="display:none" class="specialQ" id="crimeQ">
                                <%= riddles[2] %>
                            </h3>
                        </div>
                        <br>
                        <% if (hint) { %>
                        <div id="hintDiv"><span class="nes-text is-success">Hint: <br></span
                                style="color:white"><%= hint %></div>
                        <br>
                        <% } %>
                    </span>
                    <div id="content" align="center">
                        <form id="answerForm" action="/game/answer" method="POST">
                            <div id="ans">
                                <input style="border-radius:5px;" type="text" name="answer" id="error_field"
                                    class="nes-input" placeholder="Enter Your Answer">
                            </div>
                            <br>
                            <button id="submitAnsBtn" type="button" class="nes-btn is-warning">Submit</button>
                            <button type="button" id="hintBtn" class="nes-btn is-success"
                                onclick="$('#dialog-rounded')[0].showModal();">Hint</button>
                            <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <section>
        <dialog class="nes-dialog is-rounded" id="dialog-rounded" style="width:90%;">
            <form method="dialog">
                <p class="title nes-text is-error">WARNING</p>
                <p style="color: black;">Taking a hint costs 100 points! You currently have <span
                        class="nes-text is-error"><%= user.points %></span>
                    points.</p>
                <menu align="center" class="dialog-menu" style="padding-left: 0px;">
                    <button class="nes-btn">Cancel</button>
                    <button onclick="window.location.href='/game/hint'" class="nes-btn is-error">Show Hint</button>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog is-rounded" id="answerPopup" style="width:90%;">
            <form id="answerResp" method="dialog">
            </form>
        </dialog>
    </section>

    <script>
        var questionScrollBar;
        $(function () {
            questionScrollBar = new SimpleBar($("#questionContainer")[0], { autoHide: false });
            let riddleId = "<%= riddleId %>";
            if (riddleId === '0') {
                $('.specialQ').show();
            }
        })
        function sendAns() {
            $.ajax({
                'url': '/game/answer',
                'type': 'POST',
                'data': $('#answerForm').serialize(),
                'success': function (result) {
                    $("#answerResp").html(result);
                    $("#answerPopup")[0].showModal();
                }
            });
        }
    </script>
</body>

</html>