<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <title>Question <%= riddleId %></title>
    <style>
        #bigText {
            font-size: 30px !important;
        }
    </style>
</head>

<body>
    <%- include('partials/navbar') %>
    <div id="mainContentContainer">
        <div id="mainContent">
            <div style="height:100%;width:100%;" id="questionPanel" class="nes-container is-rounded is-dark question">
                <div id="questionContainer" class="dontOverlap">
                    <span id="justQuestion">

                        <div id="qNo" style="font-size:40px; margin-bottom:10px;" class="nes-text is-warning">Question
                            <%= riddleId %></div>
                        <div id="firstQuestion">
                            <div stlye="color:white;">
                                I HELPED THE MORTALS<br>
                                AND I’LL BE HELPFUL TO YOU<br>
                                ONLY IF YOU KNOW WHO I AM<br><br>

                                D3COD3 TH3 CIPH3R TO KNOW M3<br><br>

                                “Rk, lw lv hdvb iru wkh rqh zkr vwdqgv rxwvlgh <br>
                                wkh sulvrq-zdoo ri sdlq wr hakruw <br>
                                dqg whdfk wkh rqh zkr<br>
                                Vxiihuv”<br><br>
                            </div>
                            <img src="/static/images/q1hint.jpeg"> <br><br>
                            <h2>Choose your adventure:</h2>
                            <br>
                            <button onclick="window.location.href='/game/question?setTrack=A0'"
                                class="nes-btn chooseBtn is-warning">Adverts</button>
                            <button onclick="window.location.href='/game/question?setTrack=B0'"
                                class="nes-btn chooseBtn is-primary">Disney Pixar</button>
                            <button onclick="window.location.href='/game/question?setTrack=C0'"
                                class="nes-btn chooseBtn is-error">Sci-fi</button>
                        </div><br>
                        <h2>
                            <%- riddle %>
                        </h2>
                        <br>
                        <% if (hint) { %>
                        <div id="hintDiv"><span class="nes-text is-success">Hint: <br></span
                                style="color:white"><%- hint %></div>
                        <br>
                        <% } %>
                    </span>
                    <div id="content" align="center">
                        <div id="ans">
                            <input style="border-radius:5px;" type="text" name="answer" id="error_field"
                                class="nes-input" placeholder="Enter Your Answer">
                        </div>
                        <br>
                        <button id="submitAnsBtn" type="button" class="nes-btn is-warning">Submit</button>
                        <button type="button" id="hintBtn" class="nes-btn is-success"
                            onclick="$('#dialog-rounded')[0].showModal();">Hint</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <section>
        <dialog class="nes-dialog is-rounded" id="dialog-rounded" style="width:90%;">
            <form method="dialog">
                <p class="title nes-text is-error">WARNING</p>
                <p style="color: black;">Taking a hint costs 100 points! You currently have <span
                        class="nes-text is-error"><%= user.points %></span>
                    points.</p>
                <menu align="center" class="dialog-menu" style="padding-left: 0px;">
                    <button class="nes-btn">Cancel</button>
                    <% if (user.points >= 100) { %>
                    <button onclick="window.location.href='/game/hint'" class="nes-btn is-error"
                        style="cursor: crosshair;">Show Hint</button>
                    <% } else { %>
                    <button onclick="window.location.href='/gam/hint'" class="nes-btn is-error" disabled>Show
                        Hint</button>
                    <% } %>
                </menu>
            </form>
        </dialog>
    </section>

    <section>
        <dialog class="nes-dialog is-rounded" id="answerPopup" style="width:90%;">
            <form id="answerResp" method="dialog">
            </form>
        </dialog>
    </section>

    <script>
        var questionScrollBar;
        $(function () {
            console.log("run")
            $("#firstQuestion").hide();

            questionScrollBar = new SimpleBar($("#questionContainer")[0], { autoHide: false });
            let riddleId = "<%= riddleId %>";
            if (riddleId === '0' || riddleId === 'A0' || riddleId === 'B0' || riddleId === 'C0') {
                $("#firstQuestion").show();
            }
        });
        function sendAns() {
            $.ajax({
                'url': '/game/answer',
                'type': 'POST',
                'data': $('#answerForm').serialize(),
                'success': function (result) {
                    $("#answerResp").html(result);
                    $("#answerPopup")[0].showModal();
                }
            });
        }
    </script>
</body>

</html>