<link href="/static/css/base.css" rel="stylesheet" />
<link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
<div id="navbar">
    <img onclick="$('#navbarDropDown').slideToggle();" src="/static/images/bars.svg" id="openMenu">
    <div id="trackDisplay" class="nes-badge">
        <span id="trackName"></span>
    </div>
    <div id="riddlerBrand"><FONT COLOR="#FF0000">R</FONT><FONT COLOR="#FF8000">i</FONT><FONT COLOR="#FFff00">d</FONT><FONT COLOR="#7Fff00">d</FONT><FONT COLOR="#00ff00">l</FONT><FONT COLOR="#00ff80">e</FONT><FONT COLOR="#00ffff">r</FONT><FONT COLOR="#0080ff"> </FONT><FONT COLOR="#0000ff">2</FONT><FONT COLOR="#7F00ff">0</FONT><FONT COLOR="#FF00ff">2</FONT><FONT COLOR="#FF0080">0</FONT></div>
</div>
<div id="navbarDropDown">
    <div onclick="$('#navbarDropDown').hide();" class="links">
        <a href="/game" class="link">Home</a>
        <a onclick="document.getElementById('helpPopup').showModal();" class="link">Instructions</a>
        <a href="/game/leaderboard" class="link">Leaderboard</a>
        <a href="/logout" class="link">Logout</a>
        <a onclick="document.getElementById('resetProg').showModal();" id="resetProgress" class="link">Reset Progress</a>
    </div>
    <div class="points">Points: <div id="points"></div>
    </div>
</div>
<div id="CSILogo"><span>Built by CSI-VIT with ❤️ </span></div>
<%- include('instructions') %>


<section>
    <dialog class="nes-dialog is-rounded" id="resetProg" style="color: black">
        <form id="reset" method="dialog">
            <p class="title" style="font-size:40px;color:red">WARNING</p>
            <p id="message">Are you sure you want to reset to the first question? It will cost you <span class="resetPoints"></span>
                points.</p>
            <p id="new"></p>
            <menu class="dialog-menu" align="center">
                <button class="nes-btn is-primary">Cancel</button>
                <button id="continueBtn" class="nes-btn is-error" onclick="window.location.href='/game/reset'">Continue</button>
            </menu>
        </form>
    </dialog>
</section>

<script src="/static/js/dialog-polyfill.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="https://brandonlwhite.github.io/sevenSeg.js/sevenSeg.js"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>
<script>
     const scrollBar2 = new SimpleBar($("#instructions")[0], {autoHide: false});
    $("#points").sevenSeg({
        digits: 5,
        value: "<%= user.points %>",
        colorOn: "Lime",
        colorOff: "#003200"
    });
    let question = parseInt("<%= //riddles[0] %>");
    if (question >= 8 || question === 0) {
        $("#resetProgress").hide()
    }
    let question2 = parseInt("<%= //riddles[0] %>");
    let points = "<%= user.points %>";
    let riddleId = '0';
    let track = 'General';
    switch (riddleId.charAt(0).toLowerCase()) {
        case 'a': track = 'Adverts'; break;
        case 'b': track = 'Disney Pixar'; break;
        case 'c': track = 'Scifi'; break;
        default: track = 'General';
    }
    if(question2==0)
    {
        $("#message").text("You are already on the first question.");
        $("#continueBtn").hide();
    }
    let resetDeduct = ((8 - question2) * 50);
    if(resetDeduct>points)
    resetDeduct = points
    $(".resetPoints").text(resetDeduct.toString()).css("color", "red");
    const colors = {
        "Adverts": "rgba(247, 213, 29, 0.9)",
        "Disney Pixar": "rgba(32, 156, 238, 0.9)",
        "Scifi":"rgba(231, 110, 85, 0.9)",
        "General": "rgba(118, 196, 66, 0.9)"
    }
    const classes = {
        "Adverts": "is-warning",
        "Disney Pixar": "is-primary",
        "Scifi":"is-error",
        "General": "is-success"
    }
    $("#trackName").addClass(classes[track]);
    $("#trackName").html(`Track: ${track}`);
    $("#navbarDropDown").css("background-color", colors[track]);
    
    $(function() {
        const images = {
        "Adverts": "/static/images/advertsBack.gif",
        "Disney Pixar": "/static/images/disneyPixarBack.gif",
        "Scifi": "/static/images/scifiBack.gif",
        "General": "/static/images/generalBack.gif"
    }
     $("#mainContentContainer").css("background-image", "url('"+images[track]+"')");
     $('dialog').each(function(i, obj) {
         dialogPolyfill.registerDialog(obj);
        });
    })
    
</script>